
* {
    box-sizing: border-box;
    }
    
    nav {
        
    }
    
    body {
    margin: 0;
        height: 100vh;
        display: flex;
        justify-content: center; 
        align-items: flex-start; 
        padding-top: 200px;
    }

    #buttonHolder {
        width: 100%;
        background-color: #1d1d1d;
        padding: 10px;
        text-align: center;
    }
    
    /* Button inside the button holder */
    #buttonHolder a {
        display: inline-block;
        color: white;
        background-color: #6c757d;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;
    }

    #addTaskButton {
        background-color: white;
        color: #3498db;
        font-size: 24px;
        border: none;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

.infoBox {
    width: 500px;
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 2px solid #333;
    margin-bottom: 20px;
}

.infoItem {
    background-color: #e51e1e;
    color: white;
    padding: 15px;
    flex: 1;
    margin: 0 10px;
    text-align: center;
    border-radius: 5px;

}

.mainContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.infoAndTasksContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
    
.taskCards {
    width: 500px;
    height: 500px;
    background-color: #f1f1f1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    border: 2px solid #333;
}
    
    .squareBox {
        width: 180px;
        height: 180px;
        background-color: #3498db;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 16px;
        border: 2px solid #fff;
    }

    #tallDiv {
        width: 150px;
        height: 500px;
        background-color: #3498db;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
        border: 2px solid #333;
        margin-top: 113.5px;
    }
    
      
      .addTaskButton {
        border: none;
        color: white;
        background-color: blue;
        padding: 15px 32px;
        border-radius: 50%;
        text-align: center;
        align-content: left;
        text-decoration: none;
        font-size: 20px;
        display: flex;
        margin: 4px;
        cursor: pointer;
      
    }

